<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Report Card</title>
</head>
<body>
    <h1>This is Student Report Card.</h1>
    <% student.map((stud) => { %>
    <p>Name: <%= stud.name %></p>
    <p>Grade: <%= stud.grade %></p>
    <p>Favorite Subject: <%= stud.favouriteSubject %></p>
    <br/>
    <% }) %>
</body>
</html>